.card {
    padding: 10px;
    margin-top: 25px;
}

.center {
    text-align: center;
}

.dropdown-toggle::after {
    display: none !important;
}

.navbar-expand .navbar-nav .dropdown-menu {
    margin-left: -6em !important;
}